@import "./less/col-5ths.less";
@import "./less/font.less";
@import "./less/autocomplete.less";

.template-doc, .template-demos, .template-home {
  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 64px;
    margin-top: -64px;
    visibility: hidden;
  }
}

#query {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
    display: none;
  }
  &:hover .anchor {
    display: inline;
  }
}

table {
  max-width: 100%;
  margin: 25px 0;
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  border-collapse: separate;
  font-size: 12px;
  color: #666;
  border-spacing: 0;
}
table tr:last-child th, table tr:last-child td {
  border-bottom: none;
}
table th {
  background-color: #f7f7f7;
}
table td, table th {
  //min-width: 160px;
  padding: 10px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1208px;
  }
}

.navbar {
  padding: 0 32px;
  .logo {
    margin: 4px 16px 4px 0;
  }
  .nav-link.active {
    color: #096DD9 !important;
  }
}

.navbar-brand {
  font-size: 32px;
  line-height: 0;
  padding: 4px 0;
}

.navbar-light {
  background: #FDFDFD;
  box-shadow: 0 2px 8px rgba(229, 229, 229, .5);
}

.site-map {
  padding: 56px 0;
  background: #4F545D;
  a {
    color: #C5CBD9;
    line-height: 32px;
  }
  h5 {
    color: white;
    margin-bottom: 32px;
  }
}
footer {
  a, .nav-link {
    color: rgba(0, 0, 0, .45);
  }
  .nav-link {
    margin-right: 32px;
  }
  border: 1px solid #D8DCE7;
  &.bg-dark {
    border: none;
    color: rgba(255, 255, 255, 0.45);
    a, .nav-link {
      color: rgba(255, 255, 255, 0.45);
    }
    background: #4F545D !important;
    .container {
      border-top: 1px dotted rgba(197, 203, 217, 0.3);
    }
  }
}

img {
  max-width: 100%;
}

