@import "./less/col-5ths.less";
@import "./less/font.less";

.navbar-light {
  background: #FDFDFD;
  box-shadow: 0 2px 8px #E5E5E5;
}

.site-map {
  padding: 4rem 0;
  background: #4F545D;
  a {
    color: #C5CBD9;
    line-height: 2rem;
  }
  h5 {
    color: white;
    margin-bottom: 2rem;
  }
}
