.demos {
  padding: 6rem 0 3rem;
  h5 {
    margin-bottom: 1rem;
  }
  .card-body {
    background: #F3F4F8;
    border: 1px solid #EDEEF1;
    padding: .5rem;
    a {
      color: #444;
    }
  }
  .row {
    margin-top: 3rem;
    .col-md-4 {
      margin-bottom: 2rem;
    }
  }
  .header {
    height: 2.4rem;
  }
}
