html, body, .demo-container, .demo-container .flex-column, .demo-container .flex-row {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.demo-container {
  padding-top: 3rem;
  padding-bottom: 2.6rem;
  .col {
    margin: 0;
    padding: 0;
    &.menu {
      overflow-y: scroll;
      flex: 0 0 18rem;
      background: #36364F;
      color: #A8AABC;
      a {
        color: #A8AABC;
      }
    }
    &.detail {
      overflow-y: scroll;
      padding: 2rem 0;
      min-width: 36rem;
      flex: 1;
    }
    &.code-panel {
      flex: 0 0 40rem;
    }
  }
  .row {
    margin: 0;
    padding: 0;
    &.toolbox {
      flex: 0 0 3rem;
      padding: 0 1rem;
    }
    &.code {
      flex: 1;
    }
  }
  .card {
    background: none;
    h5 {
      margin-bottom: 0;
    }
    border: none;
  }
  .card-body {
    padding: 0;
  }
  .list-group-item {
    background: none;
  }
}

.code-panel {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  background-color: #fff;
  display: block;
  overflow-y: auto;
  padding: 1rem;
  position: relative;
  right: 0;
  top: 0;
  border-right: 0.1rem solid #e8e8e8;
  transform: translateZ(0);
  white-space: nowrap;
  will-change: scroll-position;
  z-index: 1;
}

.code-panel, .code, .code .CodeMirror {
  height: 100%;
}

#preview {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 90rem) {
  .demo-container {
    .flex-row {
      flex-direction: column !important;
    }
    .col.menu, .col.code-panel {
      display: none;
    }
  }
}
