.doc-container {
  padding: 4rem;
  .content {
    padding: 2rem 18rem;
  }
  .menu, .toc {
    position: fixed;
    top: 4rem;
    right: 1rem;
  }
  .highlight {
    position: relative;
    max-width: 1000px;
    background-color: #fbfbfb;
    padding: 1rem;
    border-radius: 4px;
  }
  pre, code {
    position: relative;
  }
  #btn-copy-code {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 72px;
    background-color: #F3F3F3;
    border-radius: 4px;
    padding: 4px 0;
    color: #666;
    text-align: center;
    border: none;
    font-size: 12px;
  }
}