.doc-container {

  padding: 64px 16px 0 16px;
  .menu, .toc-container, .content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .content {
    order: 1;
    min-height: calc(100vh - 100px);

    h1, h2, h3, h4 {
      font-weight: normal;
      color: #404040;
      margin-bottom: 32px;
    }

    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
      line-height: 1.8;
      color: #666;
      max-width: 920px;
      margin: 16px 0;
    }

    .highlight {
      margin: 20px 0;
    }

    li p:first-child {
      margin-top: 0;
    }

    p+h2,p+h3, p+h4,
    div+h2, div+h3, div+h4,
    ul+h2, ul+h3, ul+h4,
    ol+h2, ol+h3, ol+h4,
    table+h2, table+h3, table+h4 {
      margin-top: 64px;
    }

    img {
      max-width: 100%;
      width: auto;
    }

    blockquote {
      padding: 0 16px;
      color: #777;
      border-left: 4px solid #ddd;
    }

    pre {
      margin-bottom: 0 !important;
    }
  }
  .menu {
    .inner {
      position: fixed;
      height: ~"calc(100% - 90px)";
      //height: 100%;
      overflow-y: auto;
    }
  }
  .toc {
    position: fixed;
    height: ~"calc(100% - 90px)";
    //height: 100%;
    overflow-y: auto;
  }
  .toc-link {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }
  @media (max-width: 768px) {
    .menu {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .inner {
        position: relative;
      }
    }
  }
  @media (min-width: 881px) {
    .menu {
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      max-width: 220px;
      .inner {
        width: 190px;
      }
    }
    .content {
      min-height: 400px;
    }
  }
  @media (max-width: 881px) {
    .menu {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .inner {
        position: relative;
      }
    }
    .content {
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .menu {
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      max-width: 220px;
    }
  }
  .menu {
    padding-right: 0;
    box-shadow: 2px 0 4px rgba(63, 62, 67, .1);
    order: 0;
    .list-group {
      //margin-right: -15px;
      margin-top: .75em;
      .list-group-item {
        border: none;
        a {
          color: rgba(0, 0, 0, .65);
        }
        &.active {
          background: white;
          border-right: 2px solid rgba(9, 109, 217, 1);
          a {
            color: rgba(9, 109, 217, 1);
          }
        }
        &:last-child {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:first-child {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
  .toc-container {
    order: 2;
    //right: 16px;
  }

  .prev-next {
    height: 16px;
    margin: 64px 0 32px;
    a {
      font-size: 18px;
    }
    svg {
      vertical-align: middle;
    }
  }
}