.doc-container {
  padding: 64px 16px 0 16px;
  .menu, .toc-container, .content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .content {
    order: 1;
    //padding: 2rem 18rem;
  }
  .menu .inner, .toc {
    position: fixed;
    //top: 4rem;
    //position: fixed;
  }
  @media (max-width: 768px) {
    .menu {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .inner {
        position: relative;
      }
    }
  }
  @media (min-width: 881px) {
    .menu {
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      max-width: 220px;
      .inner {
        width: 190px;
      }
    }
  }
  @media (max-width: 881px) {
    .menu {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .inner {
        position: relative;
      }
    }
    .content {
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .menu {
      -ms-flex: 0 0 220px;
      flex: 0 0 220px;
      max-width: 220px;
    }
  }
  .menu {
    box-shadow: 2px 0 4px rgba(63, 62, 67, .1);
    order: 0;
  }
  .toc-container {
    order: 2;
    right: 1rem;
  }
  .highlight {
    position: relative;
    background-color: #fbfbfb;
    padding: 1rem;
    border-radius: 4px;
  }
  pre, code {
    position: relative;
  }
  #btn-copy {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 72px;
    background-color: #F3F3F3;
    border-radius: 4px;
    padding: 4px 0;
    color: #666;
    text-align: center;
    border: none;
    font-size: 12px;
  }
}