@import "headroom.less";

.features {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#544ff9+0,7351f4+26,874bff+100 */
  background: #544ff9; /* Old browsers */
  background: -moz-linear-gradient(left,  #544ff9 0%, #7351f4 26%, #874bff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #544ff9 0%,#7351f4 26%,#874bff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #544ff9 0%,#7351f4 26%,#874bff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#544ff9', endColorstr='#874bff',GradientType=1 ); /* IE6-9 */
}

.main-info {
  font-size: 18px;
  line-height: 3rem;
}

.intro,.description,.features,.comments,.users {
  padding: 8rem 0;
}
.intro,.comments {
  background: #F8FAFE;
}
.features {
  color: #C3D1FF;
  img {
    width: 7rem;
    margin: 2rem;
  }
  .feature {
  }
  .detail {
    display: inline-block;
    max-width: 20rem;
  }
}

.intro {
  h1 {
    margin: 4rem 0;
  }
  .products {
    .card {
      border: none;
      padding: 2rem;
      box-shadow: 0 4px 20px #E5E5E5;
    }
    img {
      height: 4rem;
      margin: 1rem 0;
    }
  }
}
.description {
  h2 {
    margin-bottom: 4rem;
  }
}
.comments {
  h4 {
    margin-bottom: 1.2rem;
  }
  .avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 3rem;
  }
  .detail {
    height: 12rem;
  }
  .leftpad {
    width: 5rem;
  }
}
.users {
  h2 {
    margin-bottom: 4rem;
  }
}