.scroll2top {
    display: none;
    width: 10px;
    height: 10px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 64px;
    height: 64px;
    background: grey;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.scroll2top:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}