{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": true,
    "ChinaGeoJSON": true,
    "Clipboard": true,
    "CodeMirror": true,
    "DataSet": true,
    "F2": true,
    "G2": true,
    "G6": true,
    "Slider": true,
    "_": true,
    "__data": true,
    "d3": true,
    "html2canvas": true,
    "React": true,
    "ReactDOM": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "html",
    "react",
    "babel"
  ],
  "rules": {
    "semi": 2,
    "import/no-extraneous-dependencies": 0
  }
}