{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": true,
    "ChinaGeoJSON": true,
    "Clipboard": true,
    "CodeMirror": true,
    "DataSet": true,
    "F2": true,
    "G2": true,
    "G6": true,
    "_": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "semi": 2
  }
}