<!--footer-->
<footer class="navbar navbar-expand-lg navbar-light bg-light{% if footer.isFixed %} fixed-bottom{% endif %}">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFooter" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFooter">
            <!--resources-->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% for resource in footer.resources %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ resource.href }}">{{ resource.text }}</a>
                </li>
                {% endfor %}
            </ul>
            <!--copyright-->
            <a href="#" class="nav-link disabled">{{ footer.copyright }}</a>
        </div>
    </div>
</footer>
