<!--header-->
<header class="navbar navbar-expand-lg navbar-light fixed-top headroom animated">
    <!--{% if header.isFullSize %}{% else %}<div class="container">{% endif %}-->
    <image class="lazy logo" width="56" height="56" src="{{ brand.logo }}"></image>
    <a class="navbar-brand" href="{{ base }}{{ home }}"><!-- TODO when it is home, use # -->
        {{ brand.name }}
    </a>
    {% if subHeader %}
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="prevous-site" href="{{ previous.href }}">{{ previous.text }}</a>-->
    <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if isHome %}
            {% else %}
            {% set product = products[currentProduct] %}
            <span class="nav-item" style="line-height: 32px;">|</span>
            <li class="nav-item dropdown">
                <a href="#" class="nav-item nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ product.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="">
                    {% for name, item in products %}
                    <a href="{{ item.href }}" class="dropdown-item">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
        </ul>
        <ul class="form-inline navbar-nav mt-2 mt-lg-0" id="sub-site-nav">
            {% if isHome %}
            {% for name, item in products %}
            <a class="nav-link" href="{{ item.href }}">{{ item.name }}</a>
            {% endfor %}
            {% else %}
            {% set product = products[currentProduct] %}
            {% for name, link in product.links %}
            {% if link.hideFromNav %}
            {% else %}
            {% set isCurrentNav = (name === navName) %}
            <a class="nav-link{% if isCurrentNav  %} active{% endif %}" href="{{ link.href }}">{{ link.text }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            <input id="query" class="form-control query" type="text" placeholder="Search" aria-label="Search">
            <a id="btn-search" class="nav-link"><img src="{{ assets }}/image/icon/search.svg" alt=""></a>
            <!--<a class="nav-link"><img src="{{ assets }}/image/icon/more-apps.svg" alt=""></a>-->
            <a class="btn border">{{ resource.translate.back2oldVersion }}</a>
        </ul>
    </div>
    <!--{% if header.isFullSize %}{% else %}</div>{% endif %}-->
</header>
