<!--header-->
<header class="navbar navbar-expand-lg navbar-light fixed-top headroom animated{% if isHome %} homepage{% endif %}">
    <!--{% if header.isFullSize %}{% else %}<div class="container">{% endif %}-->
    <a href="{% if isHome %}#{% else %}{{ base }}{{ home }}{% endif %}">
        <image class="lazy logo" width="48" height="28" src="{{ brand.logo }}"></image>
    </a>
    <a class="navbar-brand" href="{% if isHome %}#{% else %}{{ base }}{{ home }}{% endif %}">
        {{ brand.name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="prevous-site" href="{{ previous.href }}">{{ previous.text }}</a>-->
    <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 query-group">
            {% if isHome %}
            {% else %}
            {% set product = products[currentProduct] %}
            <span class="nav-separator"></span>
            <li class="nav-item dropdown" id="sub-product-navs">
                <a href="#" class="nav-item nav-link dropdown-toggle mr-md-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ product.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="">
                    {% for name, item in products %}
                    <a href="{{ item.href }}" class="dropdown-item">{{ item.name }}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            <a id="btn-search" class="nav-link">
                <svg width="12" height="12" fill="#ced4d9"><use xlink:href="#_si-search"></use></svg>
            </a>
            <input id="query" class="query" type="text" placeholder="{{ resource.translate.search }}..." aria-label="Search">
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0" id="sub-site-nav">
            {% if isHome %}
            {% for name, item in products %}
            <a class="nav-link" href="{{ item.href }}">{{ item.name }}</a>
            {% endfor %}
            {% else %}
            {% set product = products[currentProduct] %}
            {% for name, link in product.links %}
            {% if link.hideFromNav %}
            {% else %}
            {% set isCurrentNav = (name === navName) %}
            <a class="nav-link{% if isCurrentNav  %} active{% endif %}" href="{{ link.href }}">{{ link.text }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
            <!--<a class="nav-link"><img src="{{ assets }}/image/icon/more-apps.svg" alt=""></a>-->
            <a class="back2old-version">
                <span class="btn border">
                {{ resource.translate.back2oldVersion }}
                </span>
            </a>
        </ul>
    </div>
    <!--{% if header.isFullSize %}{% else %}</div>{% endif %}-->
</header>
