@import "./variables.less";

.toc-container {
  //background: white;
  // z-index: 999;
  position: absolute;
  max-width: 148px;
  // top: 104px;
  right: 32px;
  //order: 2;
  //right: 16px;
  height: ~"calc(100% - 120px)";
  overflow-y: auto;
  .toc {
    //height: 100%;
  }
  .toc-list {
    padding-left: 16px;
  }
  .toc-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .toc-link {
    font-size: 12px;
    display: inline-block;
    margin: 8px 0;
    text-decoration: none;
    &:hover {
      color: #1890ff;
    }
    &::before {
      width: 1px;
      //color: #e9e9e9;
      background: #e9e9e9;
      margin-top: -8px;
    }
    &.is-active-link {
      font-weight: 400;
      color: #1890ff;
      &::before {
        width: 2px;
        height: 34px;
        background: #1890ff;
      }
    }
  }
}
@media only screen and (max-width: @screen-sm) {
  .toc-container {
    display: none;
  }
}
