---
keywords:
  - G2
template: home
introCards:
  - img: http://via.placeholder.com/360x240
    title: G2
  - img: http://via.placeholder.com/360x240
    title: G6
  - img: http://via.placeholder.com/360x240
    title: F2
featuresCards:
  - img: http://via.placeholder.com/160x160
    title: 专业
    description: 此处需要30字介绍特性此处需要30字介绍特性此处需要30字介绍特性。
  - img: http://via.placeholder.com/160x160
    title: 简单
    description: 此处需要30字介绍特性此处需要30字介绍特性此处需要30字介绍特性。
  - img: http://via.placeholder.com/160x160
    title: 无限可能
    description: 此处需要30字介绍特性此处需要30字介绍特性此处需要30字介绍特性。
organizationsCardSets:
  -
    - img: http://via.placeholder.com/300x120
    - img: http://via.placeholder.com/300x120
    - img: http://via.placeholder.com/300x120
    - img: http://via.placeholder.com/300x120
  -
    - img: http://via.placeholder.com/300x120
    - img: http://via.placeholder.com/300x120
    - img: http://via.placeholder.com/300x120
---

<section class="intro jumbotron">
  <div class="container">
    <h1>AntV: 蚂蚁数据可视化解决方案</h1>
    <p>AntV(Ant Visualization) blabla</p>
    <div class="figures row">
      {% for card in introCards %}
      <div class="col-md-4">
        <div class="card">
          <img src="{{ card.img }}" alt="" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">{{ card.title }}</h2>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="description container">
  <p>AntV 是蚂蚁金服全新一代数据可视化解决方案，主要包含「数据驱动的高交互可视化图形语法」G2、专注解决流程与关系分析的图表库 G6、适于对性能、体积、扩展性要求严苛场景下使用的移动端图表库 F2 以及一套完整的图表使用和设计规范，致力于提供一套可靠、完整、高质量、易扩展的数据可视化最佳实践。</p>
  <p>得益于丰富的业务场景和用户需求挑战，AntV经历多年积累与不断打磨，已支撑整个阿里集团内外2000+业务系统，通过了百万级UV产品的严苛考验后方敢与君见。</p>
  <p>智创未来，我们正在打造一个智能数据可视化引擎，AntV，让数据栩栩如生~</p>
</section>

<section class="features container">
  <div class="figures row">
    {% for card in featuresCards %}
    <div class="feature col-md-4">
      <div class="card border-light">
        <img src="{{ card.img }}" alt="" width="160" height="160">
        <div class="card-body">
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="organizations container">
  <h2>200+ 家公司正在使用</h2>
  {% for cardSet in organizationsCardSets %}
  <div class="row">
    {% for card in cardSet %}
    <div class="logo col-md-3">
      <div class="card border-light">
        <img src="{{ card.img }}" alt="">
        <div class="card-body"></div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  </div>
</section>

