{% macro g2demo(title, content, resource, dist) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ dist }}/demo-detail.css">{% for css in resource.cssFiles %}<link rel="stylesheet" type="text/css" href="{{ css }}" />{% endfor %}
</head>
<body>
<div id="mountNode"></div>
<!-- <script type="text/javascript" src="https://unpkg.alipay.com/@alipay/g2@3.0.0-rc4.1/build/g2.js"></script> -->
<script type="text/javascript" src="https://gw.alipayobjects.com/os/rmsportal/iKKoyRoiZTaOfxvaInpF.js"></script>
{% for js in resource.jsFiles %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
<script type="text/javascript" src="{{ dist }}/demo-detail.js"></script>
{{ content | safe }}
</body>
</html>
{% endmacro %}
