{% macro g2demo(title, content, resource, dist, url, demoTheme) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>{{ title }}</title>{% for css in resource.cssFiles %}
    <link rel="stylesheet" href="{{ css }}" />{% endfor %}
    <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;height:100%;}</style>
</head>
<body{% if demoTheme == 'dark' %} style="background: #1f1f1f;"{% endif %}>
<div id="mountNode"></div>
<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="{{ url.g2 }}"></script>{% for js in resource.jsFiles %}
<script src="{{ js }}"></script>{% endfor %}{% if demoTheme %}
<script>G2.Global.setTheme('{{ demoTheme }}');</script>{% endif %}
{{ content | safe }}</body>
</html>
{% endmacro %}

{% macro g6demo(title, content, resource, dist, url) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>{% for css in resource.cssFiles %}
    <link rel="stylesheet" href="{{ css }}" />{% endfor %}
    <style>::-webkit-scrollbar{display:none;}html,body{overflow:hidden;}</style>
</head>
<body>
<div id="mountNode"></div>
<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="{{ url.g6 }}"></script>{% for js in resource.jsFiles %}
<script src="{{ js }}"></script>{% endfor %}
{{ content | safe }}</body>
</html>
{% endmacro %}

{% macro f2demo(title, content, resource, dist, url) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="chart-name" content="{{title}}">
    <title>F2 图表组件库 - AntV</title>{% for css in resource.cssFiles %}
    <link rel="stylesheet" href="{{ css }}" />{% endfor %}
    <link rel="stylesheet" href="{{ dist }}/f2-naked-demo.css" />
</head>
<body>
  <div class="chart-wrapper" >
    <canvas id="mountNode"></canvas>
  </div>
<script>/*Fixing iframe window.innerHeight 0 issue in Safari*/document.body.clientHeight;</script>
<script src="{{ url.f2 }}"></script>{% for js in resource.jsFiles %}
<script src="{{ js }}"></script>{% endfor %}
<script src="{{ url.jquery }}"></script>
<script src="{{ dist }}/f2-naked-demo.js"></script>
{{ content | safe }}</body>
</html>
{% endmacro %}
