<!--
template: home
title: 墨者学院
keywords:
  - Vis
  - 墨者学院
description: TODO 墨者学院的描述
featuresCards:
  - img: ${assets}/image/vis/features-chart.svg
    href: ${base}zh-cn/vis/chart/index.html
    title: 图表用法
    description: 从数据出发，从功能角度对图标的类型及用法进行分类，规范使用方法。
  - img: ${assets}/image/vis/features-design.svg
    title: 设计原则
    href: ${base}zh-cn/vis/design/index.html
    description: 对数据图形进行拆解、提炼，抽象出一套数据图形可视化交互视觉规范。
  - img: ${assets}/image/vis/features-resource.svg
    title: 资源
    href: ${base}zh-cn/vis/resource/index.html
    description: 在进行模式、组件和语言的整理过程中发现的优秀书籍和资源。
footer:
  isDark: true
resource:
  jsFiles:
    - ${url.g2}
    - ${url.dataSet}
tocifyWithAnchor: false
-->

<style>
    .align-right {
        text-align: right;
        margin-bottom: -32px;
        margin-right: 16px;
    }
    .img-landscape {
        margin: -64px -16px 0 0;
        max-width: 654px;
    }
    .main-info {
        /*line-height: 48px;*/
    }
    .intro {
        padding-bottom: 40px;
    }
    .features {
        padding: 128px 0;
    }
    .features h4 {
        font-size: 20px;
    }
    .blogs {
        min-height: 625px;
        padding: 112px 0 152px 0;
    }
    .card-body .description {
        font-weight: 300;
        padding: 0;
    }
    .blogs {
        padding: 112px 0 152px 0;
    }
    .blogs .col-md-6 {
        margin-top: 50px;
        padding: 0 32px;
    }
    .blogs .blog {
        border-radius: 4px;
        /*max-width: 100%;*/
        /*width: 100%;*/
        display: inline-block;
        height: 246px;
        /*color: #868e96;*/
        text-decoration: none;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .09);
        margin: 0 auto;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
    .blog:hover {
        text-decoration: none;
        -webkit-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        transform: translateY(-12px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, .09);
    }
    .card-body {
        padding: 16px 24px;
    }
    .title {
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, .85);
        margin-bottom: 4px;
    }
    .author {
        color: rgba(0, 0, 0, .45);
    }
    .avatar {
        border-radius: 10px;
        margin-right: 8px;
    }
</style>

<section class="intro">
    <div class="container">
        <div class="header row">
            <div class="col-md-5">
                <h1>墨者学院</h1>
                <p class="main-info">TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述TODO墨者学院的描述</p>
                <a href="{{ products.vis.links.blog.href }}" class="btn btn-primary btn-round-link btn-lg">
                    {{ resource.translate.viewDetail }}
                </a>
            </div>
            <div class="col-md-7">
                <img class="img-landscape" width="654px" src="{{ assets }}/image/vis/intro-landscape.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="description container text-center">
    <h2>关于墨者学院</h2>
    <span class="separator"></span>
    <div class="info-content">
        <p class="main-info">AntV可视化工作坊，力求基于蚂蚁及阿里巴巴集团的强大数据、技术、设计的力量，每天都在努力开发核心数据可视化能力、行业解决方案和其他先进技术，如g2\g6\f2。</p>
        <p class="main-info">我们的目标是通过探索性的研究来达到科学的领先地位，同时推进蚂蚁及阿里现有的产品，并参与跨行业的合作，帮助企业通过创新来实现差异化。</p>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row text-center">
            {% for card in featuresCards %}
            <div class="col-md-4">
                <a class="card" href="{{ card.href }}">
                    <img src="{{ card.img }}" alt="" class="card-img-top">
                    <h4>{{ card.title }}</h4>
                    <div class="card-body">
                        <span class="description text-secondary">{{ card.title }} {{ card.description }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="blogs">
    <div class="container">
        <div class="text-center">
            <h2>博客</h2>
            <span class="separator"></span>
        </div>
        <div class="align-right">
            <a href="{{ base }}zh-cn/vis/blog/index.html">{{ resource.translate.viewMore }}</a>
        </div>
        <div class="row">
            {% for doc in blogData.docList %}
            {% if loop.index0 <= 3 %}
            <div class="col-md-6">
                <a class="blog" href="{{ doc.href }}">
                    <img src="{{ doc.landscape }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <span class="title">{{ doc.title }}</span>
                        <span class="author">
                            <img class="avatar" width="20" height="20" src="{{ doc.author.avatar }}" alt="">
                            <span> {{ doc.author.name }}</span>
                            <span class="float-right">{{ doc.date }}</span>
                        </span>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="join-us get-started description text-center">
    <div class="container">
        <h2>加入我们</h2>
        <span class="separator"></span>
        <div class="info-content">
            <p class="main-info">我们是蚂蚁金服体验技术部数据图形团队，
                我们是一群有爱的人，在一起快乐做一件有意义的事情。如果你对可视化、
                图形技术充满激情，无论你是工程师，还是设计师，请联系我们，期待你的加入。</p>
            <p class="main-info">antv@list.alibaba-inc.com</p>
        </div>
        <a href="mailto:antv@list.alibaba-inc.com" class="btn btn-round-link more-tutorial btn-primary btn-lg">{{ resource.translate.joinUs }}</a>
    </div>
</section>

