<!--
template: home
title: 墨者学院
keywords:
  - Vis
  - 墨者学院
description: TODO 墨者学院的描述
featuresCards:
  - img: ${assets}/image/vis/features-chart.svg
    title: 图表用法
    description: 从数据出发，从功能角度对图标的类型及用法进行分类，规范使用方法。
  - img: ${assets}/image/vis/features-design.svg
    title: 设计原则
    description: 对数据图形进行拆解、提炼，抽象出一套数据图形可视化交互视觉规范。
  - img: ${assets}/image/vis/features-resource.svg
    title: 资源
    description: 在进行模式、组件和语言的整理过程中发现的优秀书籍和资源。
footer:
  isDark: true
resource:
  jsFiles:
    - ${url.g2}
    - ${url.dataSet}
tocifyWithAnchor: false
-->

<style>
    .align-right {
        text-align: right;
        margin-bottom: 32px;
        padding-right: 24px;
    }
    .img-placeholder {
        width: 366px;
        height: 160px;
        /*background-size: auto auto;*/
        background-size: cover;
        background-repeat: repeat-x;
    }
</style>

<section class="intro">
    <div class="container">
        <div class="header row">
            <div class="col-md-6">
                <h1>墨者学院</h1>
                <p class="main-info">墨者学院的描述</p>
                <a href="{{ products.vis.links.blog.href }}" class="btn btn-primary btn-lg">{{ resource.translate.viewDetail }}</a>
            </div>
            <div class="col-md-6">
                <img class="img-landscape" height="582px" width="654px" src="{{ assets }}/image/vis/intro-landscape.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="description container text-center">
    <h2>关于墨者学院</h2>
    <span class="separator"></span>
    <div class="info-content">
        <p class="main-info">AntV可视化工作坊，力求基于蚂蚁及阿里巴巴集团的强大数据、技术、设计的力量，每天都在努力开发核心数据可视化能力、行业解决方案和其他先进技术，如g2\g6\f2。</p>
        <p class="main-info">我们的目标是通过探索性的研究来达到科学的领先地位，同时推进蚂蚁及阿里现有的产品，并参与跨行业的合作，帮助企业通过创新来实现差异化。</p>
    </div>
</section>

<section class="features">
    <div class="container">
        <div class="row text-center">
            {% for card in featuresCards %}
            <div class="col-md-4">
                <a class="card" href="{{ card.href }}">
                    <img src="{{ card.img }}" alt="" class="card-img-top">
                    <h3>{{ card.title }}</h3>
                    <div class="card-body">
                        <span class="title">{{ card.title }}</span>
                        <span class="description text-secondary">{{ card.description }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="blogs">
    <div class="container">
        <div class="text-center">
            <h2>博客</h2>
            <span class="separator"></span>
        </div>
        <div class="align-right">
            <a href="{{ base }}zh-cn/vis/blog/index.html">{{ resource.translate.viewMore }}</a>
        </div>
        <div class="row">
            {% for card in blogData.docList %}
            {% if loop.index0 <= 2 %}
            <div class="col-md-4">
                <a class="card full-size" href="{{ card.href }}" style="overflow: hidden;">
                    <div class="img-placeholder" style="background-image: url({{ card.landscape }});"></div>
                    <div class="card-over">
                        <h5 class="title">{{ card.title }}</h5>
                        <span class="author text-secondary">{{ card.author.name }}</span>
                        <span class="float-right">{{ card.date }}</span>
                        <p>{{ card.description }}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="title">{{ card.title }}</h5>
                        <span class="author text-secondary">{{ card.author.name }}</span>
                        <span class="float-right">{{ card.date }}</span>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="join-us text-center">
    <div class="container">
        <h2>加入我们</h2>
        <span class="separator"></span>
        <div class="info-content">
            <p class="main-info">我们是蚂蚁金服体验技术部数据图形团队，
                我们是一群有爱的人，在一起快乐做一件有意义的事情。如果你对可视化、
                图形技术充满激情，无论你是工程师，还是设计师，请联系我们，期待你的加入。</p>
            <p class="main-info">antv@list.alibaba-inc.com</p>
        </div>
        <a href="mailto:antv@list.alibaba-inc.com" class="btn btn-primary btn-lg">{{ resource.translate.joinUs }}</a>
    </div>
</section>

