{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ dist }}/demos.css" />
{% endblock %}
{% block content %}
<div class="demos">
    <div class="container">
        <h2>
            <form class="float-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Default</button>
                    <button type="button" class="btn btn-light">Dark</button>
                </div>
            </form>
        </h2>
    </div>
    <div class="container">
        {% for cat in demos %}
        <h5>{{ cat.title }}</h5>
        {% for demos in cat.demos | batch(3) %}
        <div class="row">
            {% for demo in demos %}
            <div class="col-md-4 text-center">
                <div class="card">
                    <a href="./{{ cat.category }}/{{ demo.name }}.html">
                        <img class="card-img-top" src="{{ demo.screenshot }}" alt="{{ demo.title }}">
                    </a>
                    <div class="card-body">
                        <a href="./{{ cat.category }}/{{ demo.name }}.html"> {{ demo.title }} </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}
