{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/select-1.1.0/css/select-theme-default.css" />
<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/tether-1.4.0/css/tether.min.css" />
<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/tether-1.4.0/css/tether-theme-basic.min.css" />
{% endblock %}
{% block content %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ assets }}/lib/tether-1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/select-1.1.0/js/select.min.js"></script>
{% endblock %}
