{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/codemirror-5.29.0/codemirror-merged.min.css">
<link rel="stylesheet" type="text/css" href="{{ dist }}/demo.css" />
{% endblock %}
{% block content %}
<div class="container-fluid demo-container">
    <div class="d-flex flex-row border-secondary">
        <div class="col menu">
            <div id="accordion" role="tablist" data-children=".item">
                {% for cat in demos %}
                {% set isCurrentCat = (categoryByHref[__href] === cat.category) %}
                <div class="item card">
                    <div class="card-header" role="tab">
                        <h6>
                            <a data-toggle="collapse" aria-expanded="false" href="#collapse-{{ cat.category }}" aria-controls="collapse-{{ cat.category }}">{{ cat.title }}</a>
                        </h6>
                    </div>
                    <div id="collapse-{{ cat.category }}" class="collapse{% if isCurrentCat %} show{% endif %}" role="tabpanel" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for demo in cat.demos %}
                                {% set isCurrentPage = (__href === demo.href) %}
                                <li class="list-group-item{% if isCurrentPage %} active{% endif %}"><a href="{{ demo.href }}">{{ demo.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col detail container">
            <div class="navbar justify-content-between">
                <h4 class="nav-link">{{ title }}</h4>
                {% if canSwitchThemes %}
                <form class="form-inline">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="?theme=default" class="btn btn-primary">Default</a>
                        <a href="?theme=dark" class="btn btn-light">Dark</a>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="demo" id="preview"></div>
            <div class="card-extra container">
                <section class="description">
                    <h4>{{ resource.translate.plotDescription }}</h4>
                    <div> {{ plotDescription | safe }} </div>
                </section>
                <section class="usage">
                    <h4>{{ resource.translate.usage }}</h4>
                    <div> {{ plotUsage | safe }} </div>
                </section>
                <section class="relative-plots">
                    <h4>{{ resource.translate.relativePlots }}</h4>
                    <ul>
                        {% for plot in relativePlots %}
                        <li>
                            <a href="{{ plot.url }}">
                                <span>{{ plot.icon }}</span>
                                {{ plot.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
        <div class="col code-panel bg-secondary">
            <div class="d-flex flex-column">
                <div class="row toolbox navbar bg-light justify-content-between">
                    <a href="#" class="nav-link disabled">{{ resource.translate.sourceCode }}</a>
                    <form class="form-inline">
                        <span id="alert-copy-success" class="text-success" style="display: none;">
                            {{ resource.translate.copySuccess }}
                        </span>
                        <span id="alert-copy-fail" class="text-danger" style="display: none;">
                            {{ resource.translate.copyFail }}
                        </span>
                        <button id="btn-copy" type="button" class="btn btn-light border">{{ resource.translate.copy }}</button>
                        <button id="btn-execute" type="button" class="btn btn-primary">{{ resource.translate.execute }}</button>
                    </form>
                </div>
                <textarea id="code-default" style="display: none;">{{ renderedContent | safe }}</textarea>
                <textarea id="code-dark" style="display: none;">{{ renderedContentDark | safe }}</textarea>
                <div class="row code">
                    <textarea name="code" id="code"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/clipboard-1.7.1.min.js"></script>
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/routie-0.3.2.min.js"></script>
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/codemirror-5.29.0/codemirror-merged.min.js"></script>
<script type="text/javascript" src="{{ dist }}/demo.js"></script>
{% endblock %}
