{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/highlight-9.12.0/solarized-light.css" />
<link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/tocbot-3.0.2/tocbot.css" />
<!--<link rel="stylesheet" type="text/css" href="{{ dist }}/scroll2top.css" />-->
<link rel="stylesheet" type="text/css" href="{{ dist }}/doc.css" />
{% endblock %}
{% block content %}
<div class="doc-container container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="menu bd-sidebar">
            <div class="inner">
                <!--<h4>{{ docMenuHeader }}</h4>-->
                {% if docFilteringSupport %}
                <div class="filter-container">
                    <div class="inner">
                        <svg width="12" height="12" fill="#ced4d9"><use xlink:href="#_si-search"></use></svg>
                        <input type="text" id="doc-filtering-query" placeholder="{{ resource.translate.inputKeyWord }}">
                    </div>
                </div>
                {% endif %}
                <ul class="list-group">
                    {% for doc in docList %}
                    {% set isCurrentPage = (doc.href === __href) %}
                    {% if doc.hideFromNav %}
                    {% else %}
                    <li class="list-group-item{% if isCurrentPage %} active{% endif %}"><a href="{{ doc.href }}">{{ doc.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="toc-container"><div class="toc"></div></div>
        <div class="detail content">
            <article>
                {{ content | safe }}
                <!-- relative docs and tags -->
                {% if variations %}
                {% if variations.length %}
                <h2>{{ resource.translate.variation }}</h2>
                <ul>
                    {% for variation in variations %}
                    {% set variationDoc = docByName[variation] %}
                    {% if variationDoc %}
                    <li><a href="{{ variationDoc.href }}">{{ variationDoc.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                {% if tags %}
                {% if tags.length %}
                <h2>{{ resource.translate.tag }}</h2>
                <ul>
                    {% for tag in tags %}
                    {% set tagDoc = tagDocByName[tag] %}
                    {% if tagDoc %}
                    <li><a href="{{ tagDoc.href }}">{{ tagDoc.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                {% if showAllTags %}
                <ul>
                    {% for tagName, tagDoc in tagDocByName %}
                    <li><a href="{{ tagDoc.href }}">{{ tagDoc.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if showDocsByTag %}
                {% set docs = docNamesByTag[showDocsByTag] %}
                <ul>
                    {% for doc in docs %}
                    <li><a href="{{ docByName[doc].href }}">{{ docByName[doc].title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- previous and next pages -->
                {% set docIndex = docIndexByHref[__href] %}
                {% set hasPrev = (docIndex > 0)  %}
                {% set hasNext = (docIndex < (docsCount - 1))  %}
                <div class="prev-next">
                    {% if hasPrev %}
                    {% set prevDoc = docList[docIndex - 1] %}
                    <a href="{{ prevDoc.href }}" class="float-left pre">
                        <svg width="16" height="16" fill="#697b8c"><use xlink:href="#_si-left"></use></svg>
                        {{ prevDoc.title }}
                    </a>
                    {% endif %}
                    {% if hasNext %}
                    {% set nextDoc = docList[docIndex + 1] %}
                    <a href="{{ nextDoc.href }}" class="float-right next">
                        {{ nextDoc.title }}
                        <svg width="16" height="16" fill="#697b8c"><use xlink:href="#_si-right"></use></svg>
                    </a>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
{% block plugins %}
<!--scroll2top-->
<!--<div class="scroll2top">top</div>-->
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/jquery.headroom-0.9.4.min.js"></script>
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/clipboard-1.7.1.min.js"></script>
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/tocbot-3.0.2/tocbot.min.js"></script>
<!--<script type="text/javascript" src="{{ dist }}/scroll2top.js"></script>-->
<script type="text/javascript" src="{{ dist }}/doc.js"></script>
{% endblock %}