{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/highlight-9.12.0/styles/solarized-light.css" />
<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/tocbot-3.0.2/tocbot.css" />
<!--<link rel="stylesheet" type="text/css" href="{{ dist }}/scroll2top.css" />-->
<link rel="stylesheet" type="text/css" href="{{ dist }}/doc.css" />
{% endblock %}
{% block content %}
<div class="doc-container container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="menu col-12 col-md-3 col-xl-2 bd-sidebar">
            <div class="inner">
                <h3>{{ docMenuHeader }}</h3>
                {% if docFilteringSupport %}
                <input type="text" class="form-control" id="doc-filtering-query">
                {% endif %}
            </div>
        </div>
        <div class="toc-container d-none d-xl-block col-xl-2 bd-toc">
            <div class="toc">
            </div>
        </div>
        <div class="detail content col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
            {{ content | safe }}
        </div>
    </div>
</div>
{% endblock %}
{% block plugins %}
<!--scroll2top-->
<!--<div class="scroll2top">top</div>-->
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ assets }}/lib/clipboard-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/tocbot-3.0.2/tocbot.min.js"></script>
<!--<script type="text/javascript" src="{{ dist }}/scroll2top.js"></script>-->
<script type="text/javascript" src="{{ dist }}/doc.js"></script>
{% endblock %}