{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/slick-1.8.0/slick.css" />
<link rel="stylesheet" type="text/css" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/slick-1.8.0/slick-theme.css" />
<!--<link rel="stylesheet" type="text/css" href="{{ dist }}/scroll2top.css" />-->
<link rel="stylesheet" type="text/css" href="{{ dist }}/home.css" />
{% endblock %}
{% block content %}{{ content | safe }}{% endblock %}
{% block plugins %}
<!--scroll2top-->
<!--<div class="scroll2top">top</div>-->
{% endblock %}
{% block footer %}
{% include "partial/site-map.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.1/slick-1.8.0/slick.min.js"></script>
<script type="text/javascript" src="{{ dist }}/home.js"></script>
<!--<script type="text/javascript" src="{{ dist }}/scroll2top.js"></script>-->
{% endblock %}
