<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ keywords | join(',') }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{{ title }} - AntV</title>
    <link rel="icon" href="https://gw.alipayobjects.com/os/antv/assets/favoricon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://gw.alipayobjects.com/os/antv/assets/lib/bootstrap-4.0.0-beta/bootstrap.min.css" />
    <link rel="stylesheet" href="https://gw.alipayobjects.com/os/antv/assets/lib/bootstrap-4.0.0-beta/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_470089_ngla9eua3df5hfr.css" />
    <link rel="stylesheet" href="{{ dist }}/common.css" />
    {% block css %}{% endblock %}
    {% for css in resource.cssFiles %}
    <link rel="stylesheet" type="text/css" href="{{ css }}" />
    {% endfor %}
</head>
<div style="display: none;">
    <!-- preload assets -->
    <img src="{{ assets }}/image/logo-with-text.svg" alt="">
</div>
<body class="template-{{ template }}">
{% if showHeader %}
{% include "partial/header.html" %}
{% endif %}
{% block content %}{% endblock %}
{% block plugins %}{% endblock %}
{% block footer %}{% endblock %}
{% if showFooter %}
{% include "partial/footer.html" %}
{% endif %}
<script type="text/javascript">
{% if isDev %}window.__data = {{ __self | safe }}; console.log(window.__data);{% endif %}window.__meta = {{ __meta | safe }};
</script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/lodash-4.17.4.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery-3.2.1.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/jquery.autocomplete-1.4.3.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/popper.js-1.12.5/umd/popper.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/bootstrap-4.0.0-beta/bootstrap.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/lib/lazyload-2.0.0-beta.2.min.js"></script>
<div id="___tracers" style="display:none;">
    <script async src="https://s11.cnzz.com/z_stat.php?id=1259109662&web_id=1259109662"></script>
    <script>
        !function(t,e,a,r,c){
            t.TracertCmdCache=t.TracertCmdCache||[]; t[c]=window[c]|| { _isInit:!0, call:function(){t.TracertCmdCache.push(arguments)}, start:function(t){this.call('start',t)}}; t[c].l=new Date; var n=e.createElement(a),s=e.getElementsByTagName(a)[0]; n.async=!0; n.src=r; s.parentNode.insertBefore(n,s);
        }(window,document,'script','https://tracert.alipay.com/tracert.js','Tracert');
        Tracert.start({ plugins: [ 'BucName' ], spmAPos: 'a369', spmBPos: 'b3976', });
    </script>
</div>
{% if externalJsNotAllow %}
{% else %}
{% for js in resource.jsFiles %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% endif %}
{% block js %}{% endblock %}
<script type="text/javascript" src="{{ dist }}/common.js"></script>
{{ __userScripts | join | safe }}
{% block userScript %}
{% endblock %}
</body>
</html>