<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ keywords | join(',') }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block meta %}{% endblock %}
    <title>{{ title }}</title>
    <link rel="icon" href="{{ assets }}/image/favoricon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/bootstrap-4.0.0-beta/bootstrap.min.css" />
    <link rel="stylesheet" href="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/bootstrap-4.0.0-beta/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_470089_o0ez7kzhj47bke29.css" />
    <link rel="stylesheet" href="{{ dist }}/common.css" />
    {% block css %}{% endblock %}
    {% for css in resource.cssFiles %}
    <link rel="stylesheet" type="text/css" href="{{ css }}" />
    {% endfor %}
</head>
<body class="template-{{ template }}">
{% include "partial/header.html" %}
{% block content %}{% endblock %}
{% block plugins %}{% endblock %}
{% block footer %}{% endblock %}
{% if showFooter %}
{% include "partial/footer.html" %}
{% endif %}
<script type="text/javascript">
    /* eslint-disable */
    {% if isDev %}window.__data = {{ __self | safe }}; console.log(window.__data);{% endif %}
    window.__meta = {{ __meta | safe }};
</script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/lodash-4.17.4.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/jquery-3.2.1.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/jquery.autocomplete-1.4.3.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/popper.js-1.12.5/umd/popper.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/bootstrap-4.0.0-beta/bootstrap.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/datavis/assets/1.0.2/lazyload-2.0.0-beta.2.min.js"></script>
<div style="display:none;">
    <script src="https://s11.cnzz.com/z_stat.php?id=1259109662&web_id=1259109662"></script>
    <script src="https://a.alipayobjects.com/g/component/tracert/1.0.0/index.js"></script>
</div>
{% if externalJsNotAllow %}
{% else %}
{% for js in resource.jsFiles %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% endif %}
{% block js %}{% endblock %}
<script type="text/javascript" src="{{ dist }}/common.js"></script>
{{ __userScripts | join | safe }}
{% block userScript %}
{% endblock %}
</body>
</html>