<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--keywords-->
    <meta name="keywords" content="{{ keywords | join(',') }}">
    <!--description-->
    <meta name="description" content="{{ description }}">
    {% block meta %}{% endblock %}
    <!--title-->
    <title>{{ title }}</title>
    <!--css-->
    <!--<link rel="stylesheet" type="text/css" href="{{ assets }}/lib/normalize-7.0.0.min.css" />-->
    <link rel="stylesheet" type="text/css" href="{{ assets }}/lib/bootstrap-4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ assets }}/lib/bootstrap-4.0.0-beta/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ dist }}/common.css" />
    {% block css %}{% endblock %}
    {% for css in resource.cssFiles %}
    <link rel="stylesheet" type="text/css" href="{{ css }}" />
    {% endfor %}
</head>
<body>
<!--header-->
{% include "partial/header.html" %}
<!--content-->
{% block content %}{% endblock %}
{% block plugins %}{% endblock %}
<!--footer-->
{% block footer %}{% endblock %}
{% include "partial/footer.html" %}
<script type="text/javascript">
    /* eslint-disable */
    {% if isDev %}window.__data = {{ __self | safe }}; console.log(window.__data);{% endif %}
    window.__meta = {{ __meta | safe }};
</script>
<script type="text/javascript" src="{{ assets }}/lib/lodash-4.17.4.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/jquery.autocomplete-1.4.3.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/popper.js-1.12.5/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/bootstrap-4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ assets }}/lib/lazyload-2.0.0-beta.2.min.js"></script>
<script type="text/javascript" src="{{ dist }}/common.js"></script>
{% block js %}{% endblock %}
{% for js in resource.jsFiles %}
<script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{{ __userScripts | join | safe }}
{% block userScript %}
{% endblock %}
</body>
</html>